
@model Movie


<div class="row">
    <div class="col-sm-3">
        <img class="img-fluid img-thumbnail" src="~/img/@Model.Image"/>
    </div>
    <div class="col-sm-9">
        <h3 class="text-uppercase font-weight-bold">@Model.Title</h3>
        <p>@Model.Description</p>
    </div>
</div>